<body>
    <h1>Just test my dbfunctions!</h1>
    <form action="/reviews/" method="POST" id="login-form">
    <label for="review" style="color:rgb(205, 183, 247);">Review</label>
    <input type="text" id="review" name="review" value="{{review}}">
    <input type="text" id="rating" name="rating" value="{{rating}}">
    <ul class="cleanfloat">
        <li id="1">&#9733;</li>
        <li id="2">&#9733;</li>
        <li id="3">&#9733;</li>
        <li id="4">&#9733;</li>
        <li id="5">&#9733;</li>
   </ul>
    <button type="submit" id="ok">Submit</button>
    </form>
    
</body>